
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  margin-top: 2em;
}

.products-container {
  display: block;
  float: left;
  margin: 0 100px;
}

.shopping-cart-container {
  display: block;
  float: right;
  margin: 0 50px;
}

#productDelete {
  margin: 0 25px;
}

#inputProductSearch {
  margin: 0 50px 0 0;
}

.inputLogin {
  margin-bottom: 20px;
}

.filler {
  margin-top: 20px;
}

.ratingBtn {
  margin: 3px;
}
