
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  margin-top: 2em;
}

.products-container {
  display: block;
  float: left;
  margin: 0 100px;
}

.shopping-cart-container {
  display: block;
  float: right;
  margin: 0 50px;
}

#productDelete {
  margin: 0 25px;
}

#inputProductSearch {
  margin: 0 50px 0 0;
}

.inputLogin {
  margin-bottom: 20px;
}

.filler {
  margin-top: 20px;
}

.ratingBtn {
  margin: 3px;
}

.checkoutBtn {
    color: #FFFFFF;
    text-decoration: none;
}

.homeCard {
/*  margin: 10px;
  padding: 50px;
  border: 1px solid #c0c0c06b;
  border-radius: 10px;*/
/*  position: absolute;
  top: 60px;
  left: -1300px;
  z-index: -100;*/
}